DATABASE_URL="postgresql://farm:farm_password@localhost:5432/ledyim_farm?schema=public"
CLOUDINARY_CLOUD_NAME="dcidzyap8"
CLOUDINARY_API_KEY="874461798852342"
CLOUDINARY_API_SECRET="9Dv73Zw3-1s7b6qsJzcx3OM3QDY"
